extends layout

block content
  .container-fluid.content
    .row.with-no-margin
      .col-auto
        .card
          .card-body
            h3 访问次数
            p
              mark #{visitCount[0]}
              span 次
      .col-auto
        .card
          .card-body
            h3 点击次数
            p
              mark #{visitCount[1]}
              span 次